<nav class="navbar" style="margin-bottom: 8px;">
    <button class="close" mat-button (click)="closeDialog()">x</button>
</nav>

<div class="">
    <h2>Danh sách nhân viên</h2>
    <ul class="list-group">
        <li class="list-group-item list-item" (click)="clickEmployee(item)" *ngFor="let item of listEmployee">{{item}}</li>
     </ul>
</div>