<nav class="navbar" style="margin-bottom: 8px;">
    <button class="close" mat-button (click)="closeDialog()">x</button>
</nav>
<div class="container">
    <full-calendar 
    #calendar
      defaultView="dayGridMonth"
      [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"
      [plugins]="calendarPlugins"
      [weekends]="calendarWeekends"
      [events]="calendarEvents"
      (dateClick)="handleDateClick($event)"
    ></full-calendar>
</div>
<!-- <button type="submit" class="btn btn-primary" (click)="getListScheduleByUserid()">Thêm mới</button> -->
