<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-sm btn-outline-secondary" mat-button (click)="openDialogAddEmp()">Thêm nhân viên</button>
      <button class="btn btn-sm btn-outline-secondary" type="button" style="margin-left: 4px;" (click)="openDialogAddSchedule()">Thêm lịch</button>
    </form>
  </nav>
  <div class="container">
      <full-calendar 
      #calendar
      defaultView="dayGridMonth"
      [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"
      [plugins]="calendarPlugins"
      [weekends]="calendarWeekends"
      [events]="calendarEvents"
      (dateClick)="handleDateClick($event)"
      ></full-calendar>
  </div>