<nav class="navbar" style="margin-bottom: 8px;">
    <button class="close" mat-button (click)="closeDialog()">x</button>
</nav>

<h2 mat-dialog-title>Thông tin nhân viên</h2>
<mat-dialog-content>

    <form>
        <div class="form-group">
          <label for="email">Tên nhân viên:</label>
          <input type="text" class="form-control" id="username" name="name" disabled *ngIf="!isEdit" [(ngModel)]="username">
          <input type="text" class="form-control" id="username" name="name" *ngIf="isEdit" disabled [(ngModel)]="username">
        </div>
        <div class="form-group">
          <label for="pwd">Ca làm:</label>
          <input type="text" class="form-control" id="pwd" name="shift" disabled *ngIf="!isEdit" [(ngModel)]="workType">
          <!-- <input type="text" class="form-control" id="pwd" name="shift" *ngIf="isEdit" [(ngModel)]="workType"> -->
          <form *ngIf="isEdit">
            <div class="radio">
              <label><input type="radio" name="workType" checked (click)="workTypeID=3">Cả ngày</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="workType" (click)="workTypeID=1">Buổi sáng</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="workType" (click)="workTypeID=2">Buổi chiều</label>
            </div>
          </form>
        </div>
        <div class="form-group">
            <label for="email">Công việc:</label>
            <input type="text" class="form-control" id="username" name="work-description" disabled *ngIf="!isEdit" [(ngModel)]="workDescription">
            <input type="text" class="form-control" id="username" name="work-description" *ngIf="isEdit" [(ngModel)]="workDescription">
        </div>
        <!-- <div class="form-group">
          <label for="email">Ghi chú:</label>
          <input type="text" class="form-control" id="username" name="Note" disabled *ngIf="!isEdit">
          <input type="text" class="form-control" id="username" name="Note" *ngIf="isEdit">
        </div> -->
        <button type="submit" class="btn btn-primary" (click)="turnEditMode()" *ngIf="!isEdit">Chỉnh sửa</button>
        <button type="submit" class="btn btn-primary" (click)="exitEditMode()" *ngIf="isEdit">Hủy</button>
        <button type="submit" class="btn btn-primary" style="margin-left: 4px;" *ngIf="isEdit" (click)="saveEdit()">Lưu</button>
      </form>
</mat-dialog-content>