<button class="close" mat-button (click)="onNoClick()">x</button>

<h2 mat-dialog-title>Thêm mới nhân viên</h2>

<mat-dialog-content>

    <form>
        <div class="form-group">
          <label for="email">Tên đăng nhập:</label>
          <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập" name="email" [(ngModel)]="username">
        </div>
        <div class="form-group">
          <label for="pwd">Mật khẩu:</label>
          <input type="text" class="form-control" id="pwd" placeholder="Mật khẩu" name="pswd" [(ngModel)]="password">
        </div>
        
        <button type="submit" class="btn btn-primary" (click)="addEmployee()">Thêm mới</button>
      </form>
</mat-dialog-content>

<mat-dialog-actions>

</mat-dialog-actions>
