<form class="modal-content animate">
    <div class="container">
      <label for="uname"><b>Username</b></label><br/>
      <input type="text" placeholder="Enter Username" name="uname" required [ngModel]="username"><br/>

      <label for="psw"><b>Password</b></label><br/>
      <input type="password" placeholder="Enter Password" name="psw" required [ngModel]="password"><br/>
        
      <button type="submit">Login</button>
    </div>
  </form>