<nav class="navbar" style="margin-bottom: 8px;">
    <button class="close" mat-button (click)="closeDialog()">x</button>
</nav>
<div class="container">
    <h2>Chọn loại buổi làm việc</h2>
    <form>
      <div class="radio">
        <label><input type="radio" name="workType" checked (click)="workType=3">Cả ngày</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="workType" (click)="workType=1">Buổi sáng</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="workType" (click)="workType=2">Buổi chiều</label>
      </div>
    </form>
  </div>

  <button type="submit" class="btn btn-primary" style="margin-top: 8px"  (click)="submitTypeOfWork()">Xác nhận</button>
  <button type="submit" class="btn btn-primary" style="margin-left: 4px;" (click)="DeleteSchedule()">Xóa</button>